doctype html
html
    head
        title MAC not found!
        link(rel='stylesheet', href='/static/css/w3.css', type='text/css')
        style.
            html, body { height: 100% }
            .iconf-register-card {
                min-width: 420px;
                width: 33%;
            }

body.w3-red.w3-display-container
    .w3-card-4.w3-white.iconf-register-card.w3-display-middle.w3-section
        header.w3-container
            h3.w3-text-red Is your IP statically assigned?
        .w3-container
            p
                | Your MAC address was not found in the list of connected devices. This could be because:
                ul
                    li Your address was statically assigned
                    li The iRouter was reset while you were still holding a DHCP lease

            p If this you have no clue what this is supposed to mean, please ask someone who knows what he's doing.
