doctype html
html
    head
        title What's Your name?
        link(rel='stylesheet', href='/static/css/w3.css', type='text/css')
        script(src='/static/js/jquery.min.js')
        script(src='/static/js/app.index.js')
        style.
            html, body { height: 100% }
            .iconf-register-card {
                min-width: 420px;
                width: 33%;
            }

            /* Progress Bar */
            .progress {
                position: relative;
                height: 4px;
                display: block;
                width: 100%;
                background-color: #acece6;
                border-radius: 2px;
                background-clip: padding-box;
                margin: 0;
                overflow: hidden;
            }

            .progress .determinate {
                position: absolute;
                top: 0;
                bottom: 0;
                background-color: #26a69a;
                transition: width .3s linear;
            }

            .progress .indeterminate {
                background-color: #26a69a;
            }

            .progress .indeterminate:before {
                content: '';
                position: absolute;
                background-color: inherit;
                top: 0;
                left: 0;
                bottom: 0;
                will-change: left, right;
                -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
                animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            }

            .progress .indeterminate:after {
                content: '';
                position: absolute;
                background-color: inherit;
                top: 0;
                left: 0;
                bottom: 0;
                will-change: left, right;
                -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                -webkit-animation-delay: 1.15s;
                animation-delay: 1.15s;
            }

            @-webkit-keyframes indeterminate {
                0% {
                    left: -35%;
                    right: 100%;
                }
                60% {
                    left: 100%;
                    right: -90%;
                }
                100% {
                    left: 100%;
                    right: -90%;
                }
            }

            @keyframes indeterminate {
                0% {
                    left: -35%;
                    right: 100%;
                }
                60% {
                    left: 100%;
                    right: -90%;
                }
                100% {
                    left: 100%;
                    right: -90%;
                }
            }

            @-webkit-keyframes indeterminate-short {
                0% {
                    left: -200%;
                    right: 100%;
                }
                60% {
                    left: 107%;
                    right: -8%;
                }
                100% {
                    left: 107%;
                    right: -8%;
                }
            }

            @keyframes indeterminate-short {
                0% {
                    left: -200%;
                    right: 100%;
                }
                60% {
                    left: 107%;
                    right: -8%;
                }
                100% {
                    left: 107%;
                    right: -8%;
                }
            }

body.w3-indigo.w3-display-container
        .w3-card-4.w3-white.iconf-register-card.w3-display-middle.w3-section
            .progress(style='display:none')
                .indeterminate
            header.w3-container
                h3 Please enter Your name
            .w3-container
                strong#error.w3-text-red(style='display:none')
                label(for='name') Your name
                input#name.w3-input(autofocus)

            footer.w3-container.w3-section
                a.w3-button.w3-ripple.w3-white.w3-right.w3-text-green#send OK
